Debug/
Release/
Hybrid/
ipch/
*.user
*.opensdf
*.sdf
*.suo
*.ilk
*.log
*.dll
*.exp
*.pdb
*.exe
*.lib
dependency/PhysX/
dependency/fbxsdk/
dependency/wxWidgets/
dependency/DirectXTex/
bin/
i4converter/bin/
screenshot/